html, body
  width: 100%
  height: 100%

  .main-container
    padding-left: 240px

    &.expanded
      padding-left: 50px
      transition: padding-left 0.2s
    &.collapsed
      padding-left: 240px
      transition: padding-left 0.2s

  &.initial
    .main-container
      animation: main_container_showup 1s 1s
      animation-fill-mode: backwards

      // .webby-topbar
      //   .page-title
      //     animation: page_title_showup 1s 2s
      //     animation-fill-mode: forwards

.theme-color
  color: #FF5252 !important

@keyframes main_container_showup
  0%
    opacity: 0
    transform: translateX(100%)
  100%
    opacity: 1
    transform: translateX(0)

// @keyframes page_title_showup
//   0%
//     opacity: 0
//     transform: rotateX(720deg)
//   100%
//     opacity: 1
