.brand-logo, .brand-logo img 
  width: 120px

nav 
  .nav-wrapper.webby-ranklist-nav
    background-color: #FF5252 
    height: 131px !important
    li
      font-size: 100px
      margin-left: 250px
      margin-top: 10px
// 个人信息
.ranklist-personal 
  img 
    height: 100px
    width: 100px
    margin-top: 10px

  .ranklist-personal-level
    span 
      color: black
    .username
      margin-top: 10px
      font-size: 20px
    .userlevel
      margin-top: 5px
      .fa::before
        color: #ffc107
    .usericon
      margin-top: 5px
      .fa::before
        color: #2196f3
        font-size: 15px

.ranklist-personal p 
  margin-top: 2px

.ranklist-personal-info 
  /*background-color: #ee6e73*/

.webby-ranklist
  margin-left: 100px
  margin-top: 50px
  // 
  .ranklist-personal.card-panel.col.s8
    // margin-top: 70px
    // margin-left: 100px
  .ranklist-container.col.s12
    // margin-left: 100px
    .place
      width: 8%
    .userrank
      font-size: 20px
      background-color: rgba(255,255,0,0.1)
    tbody tr:nth-child(1) .userrank
      background-color: #ff3d00
      opacity: 0.7

    tbody tr:nth-child(2) .userrank
      background-color: #ff9100
      opacity: 0.7

    tbody tr:nth-child(3) .userrank
      background-color: #ffe082
      opacity: 0.7

    tr img 
      height: 40px
      width: 40px

    tr p 
      margin: 0 0 0 0




.num 
  font-size: 25px
  color: white
  background-color: #f9fbe7
  width: 100px
  opacity: 0.7

  /*height:50px*/

.first 
  background-color: #ff3d00
  color:white
  opacity: 0.7

.second 
  background-color: #ff9100
  opacity: 0.7


.third 
  background-color: #ffe082
  opacity: 0.7



.searchtab 
  background-color: #f5f5f5

.pagination
  // width: 80%
  
  margin: 30px 0 0 300px
  // text-align: center

.pagination *
  vertical-align: top



