.webby-contest
  header
    height: 128px
    padding: 2px 0 0 120px
    background-color: #FF5252
    color: white

    .area-describe
      margin-left: 40px

  .my-tab
    margin-top: 25px
    margin-bottom: 0
    border-bottom: 2px #DDD solid
    padding-left: 35px

    li
      display: inline-block
      font-size: 15px
      padding: 4px 12px
      border: 2px #DDD solid
      margin-right: -4px
      margin-bottom: -1px

    li a
      color: black

    li:not(.selected)
      background-color: #EEE

    .selected
      border-bottom: 2px white solid

  .outer-wrapper
    width: 80%
    margin: auto

  .contest-item
    padding: 10px
    border-bottom: 2px #DDD solid


  .contest-title
    font-size: 22px
    font-weight: bold
    margin-bottom: 5px

    a
      color: black

  .left-column
    text-align: center

  .left-column, .middle-column, .right-column
    display: inline-block
    vertical-align: top

  .left-column
    width: 12%

  .middle-column
    width: 50%
    margin-left: 4%
    margin-right: 5%

  .right-column
    width: 25%

  .right-column
    padding-top: 5px

  .num-of-participant
    width: 50px
    padding-top: 3px
    padding-bottom: 3px
    background-color: #DF696E
    color: white
    margin: 10px auto

    a
      color: white

  .author-info
    color: #999999

  .author-info *
    vertical-align: middle

  .author-avatar
    width: 18px
    height: 18px

  .author-name
    margin-left: 4px
    margin-right: 2px

    a
      color: black

  .time, .label
    color: #999999

  .time
    margin: auto 5px auto 5px

  .end-time
    margin-bottom: 10px

  .end-time .time
    margin-left: 22px

  .pagination
    width: 80%
    margin: 30px auto
    text-align: center

  .pagination *
    vertical-align: top