template(name="webby_profile")
  //- .banner My Profile
  .webby-profile.main-container.collapsed
    +webby_topbar(title="个人信息")
    .row
      .user-info.z-depth-2.col.s11
        +user_info
      .user-answers-and-questions.col.s11
        +questions_and_answers


template(name="user_info")
  .row
    .col.s4.profile-area
      .avatar-area
        img.avatar(src="/images/zerg.jpg")
        .upload-avatar 点击上传
        .badges 暂无头衔
      canvas#myGrowth
    .col.s6
      form
        .zone-title 用户信息修改
        .input-field
          //- i.material-icons.prefix account_circle
          input#nickname(type="text" value="Max")
          label.active(for="nickname") nickname
        .input-field
          input#realname(type="text" value="肖总")
          label.active(for="realname") realname
        .input-field
          //- i.material-icons.prefix email
          input#email(type="text" value="Max@test.com")
          label.active(for="email") email
        .input-field
          input.validate#self-introduction(type="text" value="暂无介绍" length="30")
          label.active(for="self-introduction") self-introduction


template(name="questions_and_answers")
  .row
    .col.s6.z-depth-1
      +user_answers
    .col.s6.z-depth-1
      +user_questions

template(name="user_answers")
  .user-answers
    .zone-title 我的回答
    table.answers
      thead
        tr
          th(data-field="编号") 编号
          th(data-field="标题") 标题
          th(data-field="最后提交") 最后提交
      tbody
        tr
          td 1001
          td Ring Menu
          td 2015-10-26
        tr
          td 1002
          td Ring Menu Plus
          td 2015-10-27
        tr
          td 1003
          td Recipe
          td 2015-10-27

template(name="user_questions")
  .user-answers
    .zone-title 我的提问
    table.answers
      thead
        tr
          th(data-field="编号") 编号
          th(data-field="标题") 标题
          th(data-field="最后提交") 最新回复
      tbody
        tr
          td 1001
          td Ring Menu
          td 2015-10-26
        tr
          td 1002
          td Ring Menu Plus
          td 2015-10-27
        tr
          td 1003
          td Recipe
          td 2015-10-27

