.contest-layout
  padding-left: 250px

  .contest-title
    margin-left: 8%

  .tabs
    width: 70% !important
    margin: 5%
    margin-bottom: 2%

  .outer-wrapper
    padding-bottom: 50px
    width: 80%
    margin: auto

  .inner-wrapper
    .contest-overview, .contest-rank, .contest-submit
      display: none

  .overview .contest-overview
    display: block

  .rank .contest-rank
    display: block

  .submit .contest-submit
    display: block
