template(name='contest_overview')
  .contest-overview
    table.striped
      thead
        tr
          th 已完成
          th 提交数
          th 标题
          th 难度
          th 平均分

      tbody
        each problem_item in problem_items
          tr
            td.finish
              if problem_item.finish
                i.fa.fa-check
            td #{problem_item.submit_num}
            td #{problem_item.title}
            td.difficulty
              each i in problem_item.difficulty
                i.fa.fa-star
            td #{problem_item.average_score}
